.container {
	width: 100%; 
	max-width: 1024px;
}
p {
	color: red;
}
/*General styles*/
button {
	padding: 15px 30px;
	background-color: green;
	color: white;
	border: 0;
	font-size: 1.5em;
}

/*Top header styles*/
.topHeaderContainer {
	background-color: brown;
	display: table-cell;
	vertical-align: middle;
	height: 140px;
	width: 1024px;
}

.topHeader {
	display: inline-block;
	background-color: green;
	width: 100%;
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
	height: 90px;
}

.topHeader h1 { 
	color: white;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	position: relative;
	top: -15px;
}

.topHeader img { 
	position: relative;
	top: -15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	height: 120px;
	border: 2px solid blue;
}

/*hero styles*/

.hero { 
	background: url("images/masculineImage.jpg") center no-repeat;
	height: 600px;
	overflow: hidden;
	text-align: center;
}

.heroChild { 
	width: 60%;
	margin: 0 auto;
}

.heroChild p {
	text-align: left;
	margin-bottom: 20px;
}

/*banner*/

.banner {
	overflow: hidden;
	background-color: blue;
}

.banner h2 {
	padding: 20px 0;
	text-align: center;
}

/*video section styles*/

.video { 
	display: table-cell;
	height: 400px;
	width: 1024px;
	background-color: pink;
	vertical-align: middle;
}

.video img {
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}

.videoText {
	display: inline-block;
	margin-left: 70px;
	vertical-align: top;
	width: 500px;
}

.videoText p {
	margin-top: 0;
}